/* @import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

body {
	/* font-family: 'Proza Libre', sans-serif; */
	font-family: 'Hind Siliguri', sans-serif;
	line-height: 1.5;
	margin: 0;
	padding: 0;
    background-image: url(../../images/polygon.jpg);
	background-size: cover;
	background-attachment: fixed;
	margin-left: 220px;
	margin-right: 220px;
}

.topnav {
	margin-top: 15px;
	margin-left: -200px;
	overflow: hidden;
  }
  
  .topnav a {
	float: left;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	color: black;
  }
  
  .topnav a:hover {
	background-color: rgb(233, 231, 231);
  }
  
  .topnav a.active {
	color: rgb(3, 3, 3);
  }

header {
	padding: 20px;
	text-align: center;
	margin: 20px;
	backdrop-filter: blur(2px);
}

header h1 {
	margin-top: 750;
	font-size: 2em;
}


main {
	margin: 20px;
}

.what {
	/* background-color: rgb(222, 222, 222); */
	backdrop-filter: blur(5px);
}

.section1 {
	background-color: #e7e5e5b1; 
	/* backdrop-filter: blur(50px); */
	border: solid;
	margin-bottom: 30px;
	line-height: 25px;
}

.innersection1 {
	margin-left: 45px;
	margin-right: 45px;
}

.section2 {
	background-color: #e7e5e5b1; 
	/* backdrop-filter: blur(50px); */
	border: solid;
	margin-bottom: 30px;
	line-height: 30px;
}

.innersection2 {
	margin-left: 45px;
	margin-right: 45px;
}

.section3 {
    background-color: #e7e5e5b1; 
	/* backdrop-filter: blur(50px); */
	border: solid;
	margin-bottom: 30px;
}

.innersection3 {
	margin-left: 130px;
	margin-right: 130px;
	line-height: 30px;
	
}

.more-examples {
	text-align: center;
}

.center {
text-align: center;
}

section {
	margin-bottom: 20px;
}

section h2 {
	font-size: 1.5em;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 50px;
}

section h3 {
	font-size: 1.2em;
}

section ol,
section ul {
	margin-top: 0;
	padding-left: 20px;
}

