body {
    font-family: Arial, Helvetica, sans-serif;
}
main {
    display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 20px;
   row-gap: 20px;
}
.card {
    display: grid;
    grid-template-columns: auto auto;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
    padding-left: 10px;
  border: solid 2px rgb(211, 208, 208);
    

}