@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&family=Orbitron&display=swap');
body {
   background-image: url('images/pexels-nicole-avagliano-2312040.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
  
  }
  

  
  
  header h1 {
    color: #fff;
    text-align: center;
    font-size: 3em;
    margin-top: 100px;
    text-shadow: 0px 0px 10px #fff;
    font-family: 'Orbitron', sans-serif;
   transition: ease 0.7s;
  }
  
  main {
    display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, auto);
   min-width: 33%;
    margin: 50px;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: 'Exo', sans-serif;
    /* text-align: center; */
    transition: ease 0.7s;
  }
  
  section {
    
    background-color: rgba(10, 9, 9, 0.249);
    padding: 20px;
    color: #fff;
    /* text-align: center; */
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); */
    border-radius: 10px;
    margin: 20px;
    font-family: 'Exo', sans-serif;
    transition: ease 0.7s;
  }
  
  h2 {
    color: #fff;
    font-size: 2em;
    margin-top: 0;
    font-family: 'Exo', sans-serif;
    text-align: center;
    transition: ease 0.7s;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-family: 'Exo', sans-serif;
    text-align: center;
    transition: ease 0.7s;
  }
  
  li {
    list-style-type: none;
    margin-top: 10px;
    font-family: 'Exo', sans-serif;
    /* text-align: center; */
    transition: ease 0.7s;
  }
  footer {
    margin-top: 200px;
    margin-bottom: 30px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    text-align: center;
    text-shadow: 0px 0px 10px #fff;
    transition: ease 0.7s;
  }
h1:hover {
    text-shadow: 0px 0px 100px rgb(227, 199, 72);
}
h2:hover {
    text-shadow: 0px 0px 100px rgb(227, 199, 72);
}
li:hover {
    text-shadow: 0px 0px 100px rgb(227, 199, 72);
}
footer:hover {
    text-shadow: 0px 0px 100px rgb(227, 199, 72);
}

@media screen and (max-width: 800px) {
  main {
    display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(6, auto);
   min-width: 33%;
    margin: 50px;
    padding-left: 10vw;
    padding-right: 10vw;
    font-family: 'Exo', sans-serif;
    /* text-align: center; */
    transition: ease 0.7s;
  }
} 