body {
    background-color: #f0f4ef;
}
header {
    background-color: #b4cded;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav {
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
#images {
    display: flex;
    width: 33%;
    
}
footer {
    background-color: #344966;
    color: white;
}