html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
display: flex;
width: 100vw;
position: fixed;
border: solid 1px black;
justify-content: space-between;
}

/* h1 {
display: flex;
    justify-content: flex-start;
} */

ul {
display: flex;
justify-content: flex-end;
list-style-type: none;
column-gap: 10px;
margin: 5px;
}
li, a {
    border: solid 2px black;
    margin: 5px;
}
